@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Ruda:wght@500&display=swap");
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bigCard {
  padding: 0 10px 0 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: orange;
  width: 30rem;
  display: grid;
  grid-template-columns: 16rem 16rem;
  grid-template-rows: 5rem 10rem 10rem 10rem 10rem;
}
h1 {
  grid-column-start: 1;
  grid-column-end: 3;
  color: white;
  font-weight: 900;
  text-align: center;
}
.topimg {
  width: 20rem;
  margin: 3rem 0;
}
